<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Cats</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>

    <h1>Welcome to cat madness &#128008;</h1>
    <div id="home-page">
      
      <a href='/atum' title="Atum"><div id="atum-list"></div></a>
      <a href='/gatinha' title="Gatinha"><div id="gatinha-list"></div></a>
      <a href='/kali' title="Kali"><div id="kali-list"></div></a> 
      <a href='/pingo' title="Pingo"><div id="pingo-list"></div></a>
   
    </div>
    </br>
    <a href="/toomanycats">That is way too many cats!</a>
    <!--img src="/images/all-cats.jpg"/-->
  </body>
</html>