<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Kali</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav class='nav-bar'>
      <ul> 
        <li><a href='/home'>Home</a></li> 
        <li><a href='/atum'>Atum</a></li>
        <li><a href='/gatinha'>Gatinha</a> </li>
        <li><a href='/pingo'>Pingo</a> </li>
      </ul>
      </nav>
    <h1>Kali</h1>
    <p>This is Kali she is named after the <a href="https://en.wikipedia.org/wiki/Kali">indian goddess</a> of destruction and created because she deatroys everything in her path but she also creates lots of joy</p>
    <img src="/images/kali.jpg" id="kali-img"/>
 
  </body>
</html>