<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Pingo</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav class='nav-bar'>
      <ul> 
        <li><a href='/home'>Home</a></li> 
        <li><a href='/atum'>Atum</a></li>
        <li><a href='/gatinha'>Gatinha</a> </li>
        <li><a href='/kali'>Kali</a> </li>
      </ul>
      </nav>
    <h1>Pingo</h1>
    <p>This is Pingo she is named after the 101 dalmatians puppy Lucky </br>because she was so tiny we weren't sure she would survive we also thought she was male.</br>
       We tried to change her name to Pinga afterwards but that is the name of an alcolohic beverage in Brazil</br> (and a NSFW word in spanish) so we kept her Pingo</p>
    <img src="/images/pingo.jpg" id="pingo-img" />
 
    
  </body>
</html>